@use "../base/mixins" as *;

.header-menu {
  @include mq(tablet) {
    display: none;
  }

  &-logo {
    position: relative;
    z-index: 6;
    height: 2.4rem;
  }

  &-background {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
  }

  &-container {
    position: relative;
    top: 16rem;
  }

  &-list {
    font-size: 11vw;
    line-height: 11rem;
    color: #262626;
  }
}
