.projects {
  &-container {
    display: flex;
  }

  &-background {
    height: 28.8rem;
    overflow: hidden;

    img {
      width: 79.8%;
      margin: auto;
      position: relative;
      top: 2.88rem;
    }
  }
}
