:root {
  /* ===== SIZES ===== */
  --layout-max-width: 79.5rem; // 1272px

  /* ===== PALETTE ===== */

  /* ===== SPACING ===== */
  --spacing-50: 0.25rem; // 4px
  --spacing-100: 0.5rem; // 8px
  --spacing-150: 0.75rem; // 12px
  --spacing-200: 1rem; // 16px
  --spacing-250: 1.25rem; // 20px
  --spacing-300: 1.5rem; // 24px
  --spacing-400: 2rem; // 32px
  --spacing-500: 2.5rem; // 40px
  --spacing-1000: 5rem; // 80px

  /* ===== RADIUS ===== */
  --radius-50: 0.25rem; // 4px
  --radius-100: 0.5rem; // 8px
  --radius-150: 0.75rem; // 12px
  --radius-200: 1rem; // 16px

  /* ===== FONTS ===== */
}