// https://github-contributions.vercel.app/
@use "../base/mixins" as *;

.hero {
  @include mq(tablet) {
    display: flex;
    gap: 5rem;
    align-items: center;
  }

  &-img {
    img {
      border-radius: 10px;
    }
  }

  &-text {
    margin-top: 6rem;

    @include mq(tablet) {
      margin-top: 0;
      text-align: right;
    }

    &-title {
      @include big-title;
      margin-bottom: 3.2rem;
      display: flex;
      flex-direction: column;

      @include mq(laptop) {
        margin-bottom: 3.5rem;
      }

      @include mq(desktop) {
        margin-bottom: 5.5rem;
      }

      &-span {
        font-weight: 600;
      }
    }

    &-button {
      display: none;
    }
  }
}

// Skills Part
.skills {
  margin-top: 8rem;

  @include mq(tablet) {
    display: flex;
    align-items: center;
    gap: 7rem;
  }

  @include mq(laptop) {
    margin-top: 10rem;
  }

  &-text {
    @include mq(tablet) {
      max-width: 39rem;
    }

    @include mq(laptop) {
      max-width: 55.2rem;
    }

    &-title {
      margin-bottom: 3.5rem;
    }
  }

  &-content {
    margin-top: 3.2rem;

    @include mq(laptop) {
      margin-top: 6rem;
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      font-size: 1.4rem;
      line-height: 2rem;

      &-li {
        background-color: #f1f2f6;
        padding: 0.5rem 1rem;
        border-radius: 5px;

        &:hover {
          transform: scale(1.1);
          box-shadow: 0 0 10px #ced6e0;
        }
      }
    }
  }
}

.work {
  margin-top: 9.6rem;
}
