@use "../base/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 0 4rem 0;
  position: relative;

  @include mq(tablet) {
    padding: 6.4rem 0 4.7rem 0;
  }

  @include mq(laptop) {
    padding: 6.4rem 0 5.4rem 0;
  }

  // When the menu is open this class going to be active
  &-open {
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem 2rem 4rem 2rem;
    z-index: 12;
  }

  &-img {
    position: relative;
    z-index: 6;

    &-logo {
      width: 5rem;
      height: 5rem;
    }
  }

  &-nav {
    display: none;

    @include mq(tablet) {
      display: block;
    }

    &-list {
      display: flex;
      gap: 4.2rem;
    }
  }
}

.nav-link {
  position: relative;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;

  &:hover {
    color: #1b1d23;
    font-weight: 900;
  }
}

.activeStyle {
  font-weight: 900;
  color: #1b1d23;

  &:before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translate(-50%);
    width: 2.4rem;
    border-bottom: 1px solid #363636;
  }
}
// logo minimalist writing "AS" with white background, digital style
