@use "../base/mixins" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 0 4rem 0;

  @include mq(tablet) {
    padding: 6.4rem 0 4.7rem 0;
  }

  @include mq(laptop) {
    padding: 6.4rem 0 5.4rem 0;
  }

  &-img {
    height: 4rem;
    width: 4rem;
  }

  &-nav {
    display: none;

    @include mq(tablet) {
      display: block;
    }

    &-list {
      display: flex;
      gap: 4.2rem;
    }
  }
}

.nav-link {
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

// logo minimalist writing "AS" with white background, digital style
