@use "./mixins" as *;

:root {
  font-size: 10px;
  font-family: "Mulish", sans-serif;
  background-color: #fff;
  color: #262626;
}

.container {
  width: min(100% - 4rem, 111rem);
  margin-inline: auto;

  @include mq(tablet) {
    width: min(100% - 6rem, 111rem);
  }
}

.big-title {
  font-weight: 700;
  @include big-title;
  color: #33323d;
}

.text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.8rem;
  color: #262626;
  opacity: 0.9;
}

.button {
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 2px;

  &-white {
    @include button;
    width: 20.2rem;
  }

  &-form {
    &:disabled {
      background-color: #ffffff;
      border: 1px solid #33323d;
      font-style: normal;
      color: #33323d;
      opacity: 0.2;
      cursor: not-allowed;
    }
  }
}

.border {
  border: 1px solid #33323d;
  opacity: 0.15;
}
